<section>
    <div class="row" style="margin-top: 100px;">
        <div class="col-2">
            <div class="vertical-menu m-l-30" style="font-size: 16px">
                <a href="#" class="active">Inicio</a>
                <a href="#">Mi perfil</a>
                <a href="#">Mi servicio</a>
                <a href="#">Mis trabajos</a>
            </div>
        </div>
        <div class="col-10">
            <div class="card" style="width: 1165px; height: 500px">

            </div>
        </div>
    </div>
</section>

