<div>
    <header class="header" style="background-color: #328bc7!important">
        <navigation-trigger></navigation-trigger>

        <div class="header__logo hidden-sm-down ">
            <a [routerLink]="['categorias']">
                <i class="zmdi zmdi-pin" style="color: #FFFFFF; font-size: 25px"></i>
                <!--<i class="zmdi zmdi-settings" sytle="color:white"></i>-->
                <h2 class="logo" (click)="goToCategories()">getLink</h2></a>
        </div>

        <header-search #search class="toggled" [class.toggled]="search.searchActive"></header-search>

        <ul class="top-nav" *ngIf="userLogged">
            <li class="hidden-xl-up"><a (click)="search.searchActive = true"><i class="zmdi zmdi-search"></i></a></li>

            <!--<li dropdown>-->
            <!--<a dropdownToggle><i class="zmdi zmdi-email"></i></a>-->
            <!--<div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-menu&#45;&#45;block" role="menu">-->
            <!--<div class="listview listview&#45;&#45;hover">-->
            <!--<div class="listview__header">-->
            <!--Messages-->

            <!--<div class="actions">-->
            <!--<a href="messages.html" class="actions__item zmdi zmdi-plus"></a>-->
            <!--</div>-->
            <!--</div>-->

            <!--<a *ngFor="let message of messagesData" href="" class="listview__item">-->
            <!--<img [src]="message.image" class="listview__img" alt="">-->

            <!--<div class="listview__content">-->
            <!--<h3 class="listview__heading">-->
            <!--{{ message.name }}-->
            <!--<small>{{ message.date }}</small>-->
            <!--</h3>-->
            <!--<p>{{ message.message }}</p>-->
            <!--</div>-->
            <!--</a>-->

            <!--<a href="" class="view-more">Mirar todos los mensajes</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--</li>-->

            <li dropdown>
                <div *ngIf="numberNotifications > 0" class="alertNotification">{{numberNotifications}}</div>
                <a style="padding-top: 0" dropdownToggle class="top-nav__notify"><i class="zmdi zmdi-notifications"></i></a>

                <!--abrir aqui-->

                <div *dropdownMenu style="margin-top: 55px;"
                     class="dropdown-menu dropdown-menu-right dropdown-menu--block cardNotifications" role="menu"
                     id="scrollbar">

                    <div class="listview listview--hover">
                        <div class="listview__header">
                            Notificaciones

                            <div class="actions">
                                <a href="" class="actions__item zmdi zmdi-check-all"
                                   data-ma-action="notifications-clear"></a>
                            </div>
                        </div>

                        <!--notificaciones del usuario-->

                        <div *ngFor="let notification of userNotifications; let i = index "
                             class="listview__item">
                            <!--<img [src]="message.image" class="listview__img" alt="">-->

                            <div class="listview__content">

                                <div class="row" *ngIf="notification.tipo == 'contratar' ">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-10">

                                                <i class="zmdi zmdi-notifications-active animated infinite pulse zmdi-hc-fw mdc-text-blue iconNotification"></i>
                                                <h3 style="display:inline-block" class="listview__heading">{{notification.titulo}}
                                                    {{ notification?.usuario }}</h3>
                                                <p>{{notification.mensaje}} {{ notification?.telefono }}</p>
                                            </div>
                                            <div class="col-1" style="margin-top: 35px;">
                                                <i class="zmdi zmdi-check-circle checkNotificationIcon"
                                                   (click)="goToFinishNotification(notification.$key)"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row" *ngIf="notification.tipo == 'calificar' ">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-10">

                                                <i class="zmdi zmdi-notifications-active animated infinite pulse zmdi-hc-fw mdc-text-blue iconNotification"></i>
                                                <h3 style="display:inline-block" class="listview__heading">{{notification.titulo}}:
                                                    {{ notification?.nombreProveedor }}</h3>
                                                <p>{{notification.mensaje}}  </p>
                                            </div>
                                            <div class="col-1" style="margin-top: 35px;">
                                                <i class="zmdi zmdi-star calificarIcon"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <span class="view-more">Mirar todas las notificaciones</span>
                    </div>

                </div>

                <!--cerrar aqui-->

            </li>

            <!--Foto del usuario y menu-->
            <li>
                <!--<a><i class="zmdi zmdi-account-circle" style="font-size: 45px" (click)="showMenu=!showMenu;"></i></a>-->

                <i class="zmdi zmdi-account-circle normalUser"
                   (click)="showMenu=!showMenu;" *ngIf="userPhoto==null"></i>
                <a (click)="showMenu=!showMenu;"> <img class="iconUserMenu" src="{{userPhoto}}" style="font-size: 45px"
                                                       alt="" *ngIf="userPhoto!=null"></a>


                <div class="card positionCard animated fadeIn fast" *ngIf="showMenu" style="color: black"
                     align="center">
                    <div class="row cursor-pointer itemHeaderMenu">
                        <div class="col-2">
                            <ul class="list-group">
                                <i class=" zmdi zmdi-account-circle normalUserMenuCard"
                                   *ngIf="userPhoto==null"></i>
                                <img class="iconUserMenuCard" src="{{userPhoto}}" alt="" *ngIf="userPhoto!=null">

                            </ul>
                        </div>
                        <div class="col-10">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    {{userName != null? userName:userEmail | abbreviateName}}
                                    <!--juanbracamonte@gmail.com-->
                                    {{userEmail | abbreviateText}}
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- row Mis Servicios-->
                    <div class="row cursor-pointer itemHeaderMenu">
                        <div class="col-2">
                            <ul class="list-group">
                                <!--<li class="list-group-item">-->
                                <i class=" list-group-item zmdi zmdi-settings iconsMenu m-t-5"></i>
                                <!--</li>-->
                            </ul>
                        </div>
                        <div class="col-10" (click)="goToMyProfile()">
                            <ul class="list-group">
                                <li class="list-group-item m-l-20 m-t-5">Mi Perfil</li>
                            </ul>
                        </div>
                    </div>

                    <!-- row Servicios Contratados-->
                    <div class="row cursor-pointer itemHeaderMenu">
                        <div class="col-2">
                            <ul class="list-group">
                                <!--<li class="list-group-item">-->
                                <i class=" list-group-item zmdi zmdi-shopping-cart iconsMenu m-t-5"></i>
                                <!--</li>-->
                            </ul>
                        </div>
                        <div class="col-10" (click)="goToHire()">
                            <ul class="list-group">
                                <li class="list-group-item m-l-20 m-t-5"
                                    style="padding: 0px; padding-left: 26px; padding-top: 13px;">Contratar Un Servicio
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- row Favoritos-->
                    <div class="row cursor-pointer itemHeaderMenu">
                        <div class="col-2">
                            <ul class="list-group">
                                <!--<li class="list-group-item">-->
                                <i class=" list-group-item zmdi zmdi-favorite iconsMenu m-t-5"></i>
                                <!--</li>-->
                            </ul>
                        </div>
                        <div class="col-10" (click)="goToFavorites()">
                            <ul class="list-group ">
                                <li class="list-group-item m-l-20 m-t-5">Favoritos</li>
                            </ul>
                        </div>
                    </div>

                    <!-- row Cerrar Sesión-->
                    <div class="row cursor-pointer itemHeaderMenu p-b-10">
                        <div class="col-2">
                            <ul class="list-group">
                                <!--<li class="list-group-item">-->
                                <i class="list-group-item zmdi zmdi-power iconsMenu m-t-5"></i>
                                <!--</li>-->
                            </ul>
                        </div>
                        <div class="col-10">
                            <ul class="list-group">
                                <li class="list-group-item m-l-20 m-t-5" (click)="userSignOut()">Cerrar Sesión</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="top-nav" *ngIf="!userLogged">
            <!--<li class="hidden-xl-up"><a (click)="search.searchActive = true"><i class="zmdi zmdi-search"></i></a></li>-->
            <button class="btn btn-success" (click)="goToLogin()">Ingresar</button>
            <button class="btn btn-danger" (click)="goToLogin()" style="margin-left: 10px"> Registrate</button>
        </ul>

    </header>
</div>
