<!--<div class="row">-->
<!--<div class="col-4">-->
<!--<img [src]="photo" alt="" style="width: 100px">-->
<!--</div>-->
<!--<div class="col-4">-->
<!--{{ userName }}-->
<!--</div>-->
<!--<div class="col-4">-->
<!--{{ comment }}-->
<!--</div>-->
<!--</div>-->
<section>
    <div class="row cardComment">
        <div class="col-12">
            <div class="row">
                <div class="col-1" style="margin-top: 2%;">
                    <img [src]="photo" class="userPhotoStyle" alt="photoUser">
                </div>
                <div class="col-11" style="margin-top: 23px">

                    <div class="row">
                        <div class="col-10">
                            <span class="d-block" style="font-size: 14px">{{ userName}}</span>
                            <span style="font-size: 10px; color: lightslategrey;">{{ date | formatDate }}</span>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-outline-info">Comentar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 m-t-15">
                    <p>{{ comment }}</p>
                </div>
            </div>
            <div class="containerImageComment" *ngIf="adjuntos.length > 0">
                <div class="row rowImageContainer">
                    <div  class="col-1" style="padding: 0;margin: 0" align="center" *ngFor="let adjunto of adjuntos;let i=index">
                        <img  (click)="openImageModal(i)" src="{{adjunto.adjuntoUrl}}" alt="Adjunto" style="width: 30px; height: 30px;cursor: pointer;margin-bottom: 10px">
                    </div>
                </div>
            </div>

            <div class="row">
              <div class="col-12" align="left">
                <span class="cursor-pointer m-l-5" style="color:cadetblue"> <i class="zmdi zmdi-comment-more m-r-5" ></i> Ver 5 comentarios más</span>
              </div>
            </div>
        </div>
    </div>
</section>

