<section class="content content-standard" style=" height:100vh; overflow-y: auto">
    <div class="foo">
        <span class="letter" data-letter="B">B</span>
        <span class="letter" data-letter="i">i</span>
        <span class="letter" data-letter="e">e</span>
        <span class="letter" data-letter="n">n</span>
        <span class="letter" data-letter="v">v</span>
        <span class="letter" data-letter="e">e</span>
        <span class="letter" data-letter="n">n</span>
        <span class="letter" data-letter="i">i</span>
        <span class="letter" data-letter="d">d</span>
        <span class="letter" data-letter="o">o</span>
        <span class="letter" data-letter=" "> </span>
        <span class="letter" data-letter="a">a</span>
        <span class="letter" data-letter=" "> </span>
        <span class="letter" data-letter="g">g</span>
        <span class="letter" data-letter="e">e</span>
        <span class="letter" data-letter="t">t</span>
        <span class="letter" data-letter="L">L</span>
        <span class="letter" data-letter="i">i</span>
        <span class="letter" data-letter="n">n</span>
        <span class="letter" data-letter="k">k</span>
    </div>
        <!--<div class="row">-->
            <!--<div class="col-12">-->
                <!-- -&#45;&#45;&#45;&#45;-->
                <div class="row displayFlezWrap"
                     style="margin-left: 90px; margin-top: 30px; width: 100%; height: 320px; overflow-x: auto; margin-left: 0">
                    <div class="col-lg-3 col-md-5 col-sm-12 col-12" *ngFor="let c of categoria">
                        <div class="card card-size cardCategorinasStyle" (click)="verServicio(c.id)"
                             align="center">
                            <div class="card-body style-CardBody shadow" style="">
                                <img src="{{ c.img }}" class="imagen" alt="">
                            </div>
                            <div class="card-footer p-b-0 style-CardFooter" (click)="verServicio(c.id)" align="center"
                                 [style.backgroundColor]="c.color">
                                <span style="color: white; font-size: 26px;margin-top:50%!important;">{{ c.nombreServicio }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            <!--</div>-->
        <!--</div>-->
</section>
