.card-size{
  height:270px;
  width: 270px;
  cursor: pointer;
}
.style-CardHeader{
  height: 5px!important;
}
.cardCategoriasStyle{
  margin-bottom: 20px!important;
  cursor: pointer;
  display: inline-block;
}

.style-CardBody{
  height: 100%;
}
.style-CardFooter{
  position: absolute;
  text-align: center;
  transition: height 1s, padding-top 1s;
  height: 50px !important;
  width: 100%;
  bottom: 0;
  opacity: .9;
}
.style-CardFooter:hover{
  height: 100%!important;
  width:100%!important;
  padding-top:40%;

}

.imagen{
  height: 215px;
  width: 75%;
  margin-top: 3%;
  background-size: cover;
}
.shadow{
  box-shadow: 10px 10px 5px -6px rgba(148,148,148,1);
}

.displayFlezWrap{
  flex-wrap: unset;
}

//----------------------Efecto Bienvenido a getLink

@import url(https://fonts.googleapis.com/css?family=Lato:900);
*, *:before, *:after{
  box-sizing:border-box;
}
body{
  font-family: 'Lato', sans-serif;
}
div.foo{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.letter{
  display: inline-block;
  font-weight: 900;
  font-size: 5em;
  margin: 0.1em;
  position: relative;
  color: #328bc7;
  transform-style: preserve-3d;
  //perspective: 400;
  z-index: 1;
}
.letter:before, .letter:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}
.letter, .letter:before, .letter:after{
  transition: all 0.3s ease-in-out;
}
.letter:before{
  color: #fff;
  text-shadow:
          -1px 0px 1px rgba(255,255,255,.8),
          1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
          rotateX(0deg)
          rotateY(-15deg)
          rotateZ(0deg);
}
.letter:after{
  color: rgba(0,0,0,.11);
  z-index:2;
  transform:
          scale(1.08,1)
          rotateX(0deg)
          rotateY(0deg)
          rotateZ(0deg)
          skew(0deg,1deg);
}
.letter:hover:before{
  color: #fafafa;
  transform:
          rotateX(0deg)
          rotateY(-40deg)
          rotateZ(0deg);
}
.letter:hover:after{
  transform:
          scale(1.08,1)
          rotateX(0deg)
          rotateY(40deg)
          rotateZ(0deg)
          skew(0deg,22deg);
}

//-------------Efecto Relieve

.tuclase2 {
  text-align: left;
  font-family: Roboto;
  font-style: italic;
  font-weight: bold; font-size: 30px;
  background: #328bc7;
  -webkit-background-clip: text;
  //-moz-background-clip: ;
  //background-clip: text;
  color: transparent;
  text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
}

.tuclase {
  text-align: left;
  font-family: Roboto;
  font-weight: bold;
  font-size: 40px;
  color: #fff;
  text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #328bc7, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
}

.borderPrimary{
  border-color: #007bff;
}

.body{
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

//--------card flip
body {
  font: 600 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
  margin: 12px 0;
}
.cardContainer {
  cursor: pointer;
  height: 200px;
  perspective: 600;
  position: relative;
  width: 220px;
}
.otherCard {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
.cardPasos:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card .back {
  background: #eaeaed;
  color: #0087cc;
  line-height: 150px;
  text-align: justify;
  transform: rotateY(180deg);
}