.card-UpdateInfo{
  width: 560px;
  height: 550px;
}

.close{
  font-size: 30px;
}

.close:hover{
  color: red;
}

.info-Container{
  margin-top: 20px;
}

.mt-10{
  margin-top: 10px!important;
}

.errorColorRed{
  color: red;
}