<section class="section-provedores">

    <div class="card p-20" *ngFor="let service of servicesProviders | async" (click)="goToService(service.key)" >

        <div class="row">

            <div class="col-2" align="center">

                <div class="cursor-pointer">
                    <img [src]="service.imagenUrl" style="width: 60px;height: 60px" alt="">
                </div>
                <div class="provedor-nombre">
                    Ver Perfil
                </div>

            </div>

            <div class="col-7">

                <div class="p-r-0">
                    <span style="font-size: 18px; cursor: pointer;">
                        {{service.titulo}}</span>
                </div>

                <div class="m-t-10 p-l-0 provedor-estrellas">
                    <i class="zmdi zmdi-star"></i>
                    <i class="zmdi zmdi-star"></i>
                    <i class="zmdi zmdi-star"></i>
                    <i class="zmdi zmdi-star-half"></i>
                    <i class="zmdi zmdi-star-outline"></i>
                </div>


                    <div class="provedor-descripcion m-t-15" style="text-align: justify">
                        {{service.descripcion}}
                    </div>


                <div class="m-t-10" style="color: #3498db;">
                    Trabajos Realizados: ({{service.trabajosRealizados}})
                </div>
            </div>

            <div class="col-3">

                <div class="" align="right">
                    <div class="" style="    margin-right: 20px;
    margin-top: -5px;
    margin-bottom: 5px;    color: #e74c3c; cursor: pointer;
    font-size: 25px;">
                        <i class="zmdi zmdi-favorite"></i>
                    </div>
                </div>

                <div style="font-size: 24px; color: #535353; font-weight: 400;" align="right">
                    Desde $100
                </div>

                <div class="" align="right">
                    <button class="btn btn-outline-success provedor-ver-perfil m-t-25" style="font-size: 14px">
                        Contratar ahora
                    </button>
                </div>

            </div>

        </div>

    </div>

</section>