<section class="section-provedores">

    <perfect-scrollbar>
        <div class="card p-20" *ngFor="let service of servicesProvidersTmp; let index = index">

            <div class="row" style="cursor: pointer;">

                <div class="col-2" align="center">

                    <div class="cursor-pointer" (click)="goToService(service.$key)">

                        <img [src]="service.imagenUrl" style="width: 100%;border-radius: 100%" alt="">
                        <!--<label>Ver perfil</label>-->
                        {{service.nombre}}
                    </div>

                </div>

                <div class="col-7">

                    <div class="p-r-0">
                    <span style="font-size: 18px; cursor: pointer;">
                        {{ service.titulo }}
                    </span>
                    </div>

                    <div style="text-align: justify">
                        {{service.descripcion}}
                    </div>

                    <div class="m-t-10 p-l-0 provedor-estrellas" *ngIf="service.puntuacion != 0 ">
                        <i class="zmdi zmdi-star"></i> {{service.puntuacion}}
                    </div>
                    <div class="m-t-10 p-l-0 provedor-estrellas" *ngIf="service.puntuacion == 0 ">
                        <span>No tiene calificacion por el momento</span>
                    </div>

                    <div class="m-t-10" style="color: #3498db;" *ngIf="service.puntuacion == 0">
                        Trabajos realizados (Ninguno por el momento)
                    </div>

                    <div class="m-t-10" style="color: #3498db;" *ngIf="service.trabajosRealizados != 0 ">
                        Trabajos realizados ({{service.trabajosRealizados}})
                    </div>

                </div>


                <div class="col-3">

                    <div class="" align="right">
                        <div class="provedor-posicion-corazon">
                            <i *ngIf="!checkFavorite(service.$key)" class="zmdi zmdi-favorite-outline"></i>
                            <i *ngIf="checkFavorite(service.$key)" class="zmdi zmdi-favorite"></i>
                        </div>
                    </div>

                    <div class="" align="right">
                        <button class="btn btn-outline-success provedor-ver-perfil m-t-25"
                                (click)="openHire(service.$key)" style="font-size: 14px">
                            Contratar ahora
                        </button>
                    </div>

                </div>

            </div>
        </div>


    </perfect-scrollbar>
</section>

