<section>
    <div class="row" id="scrollbar">
        <div class="col-lg-4  col-md-6 col-sm-12 col-12 m-t-30">
            <div class="card m-l-50 cardGaleria" align="center">
                <img class="card-img-top imageCard cursor-pointer" alt="Card image cap"
                     src="../../../../assets/images/trabajoAlbanileria2.JPG" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <i class="zmdi zmdi-plus-circle-o zmdi-hc-5x flotante" style="color: #32c787; cursor:pointer;"></i>
            </div>
        </div>
    </div>
</section>
