.sizeCardGalery{
  width: 250px;
  height: 200px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.sizeCardImage{
  height: 300px;
  width: 70%;
  margin-top: 3%;
}

.cardGaleria{
  width: 250px;
  height: 200px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.cardDescription{
  margin-top: 10px;
}

.flotante {
  position: fixed;
  bottom: 13%;
  right: 0px;
  margin-right: 125px;
}

.imageCard{
  width: 250px;
  height: 200px;
}

