<section>
    <div class="row card" style="margin: 0px; width: 600px; height: 300px; font-size: 18px">
        <div class="col-12 ">
            <div class="m-t-30 m-l-20">
                <strong>Da clic en el botón  <i class="zmdi zmdi-upload"></i>  cada que ingreses un trabajo realizado</strong>
            </div>

            <!--&#45;&#45;-->
            <div class="row m-l-20 m-t-50">
                <div class="col-12">
                    <div class="row">
                        <div class="col-4" style="padding: 0px">
                            <span>Trabajos realizados: </span>
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control-line form-control">
                            <i class="form-group__bar"></i>
                        </div>
                        <i class="zmdi zmdi-upload cursor-pointer"></i>
                    </div>
                </div>
            </div>
            <!--&#45;&#45;-->
            <div align="center" style="margin-top: 65px;">
                <button class="btn btn-danger">Cerrar</button>
            </div>

        </div>

    </div>
</section>
