<section class="animated fadeIn">
    <div class="containerDesignModal">
        <div class="row">
            <div class="col-12">
                <div class="m-t-20" align="center">
                    <span class="" style="color: #2ABB9B; font-size: 20px">¿Desea contactar al prestador?</span>
                    <!--<i class="zmdi zmdi-close-circle-o"></i>-->
                </div>
                <div class="row m-t-20 m-l-25">
                    <div class="col-12">
                        <!--nombre del prestador de servicio-->
                        <div>
                            <strong>Prestador de servicio:</strong>
                            <span>{{infoProviderTemp.nombre}}</span>
                        </div>
                        <!--servicio publicado-->
                        <div class="m-t-10">
                            <strong>Servicio:</strong>
                            <span>{{infoProviderTemp.titulo}}</span>
                        </div>
                        <!--inf de usuario-->
                        <div class="m-t-25">
                            <span style="color: #328bc7; font-size: 16px">Inf. usuario</span>
                        </div>
                        <!--nombre del usuario-->
                        <div class="m-t-10">
                            <strong>Usuario:</strong>
                            <span>{{infoUser.nombre}}</span>
                        </div>
                        <!--telefono del usuario-->
                        <div class="m-t-10">
                            <strong>Teléfono:</strong>
                            <span>{{infoUser.telefono}}</span>
                        </div>
                        <!--direccion del usuario-->
                        <div class="m-t-10">
                            <strong>Dirección:</strong>
                            <span>{{infoUser.domicilio.colonia}} {{infoUser.domicilio.calle}} {{infoUser.domicilio.numero}}</span>
                        </div>

                    </div>
                </div>
                <!--alerta de envio de inf-->
                <div *ngIf="viewMessage"
                     class="alert alert-warning div-size m-t-30 m-l-25 animated {{ viewMessage ? 'fadeIn':'' }}  {{ closeMessage ? 'fadeOut' : '' }}"
                     role="alert">
                    La Inf. usuario será enviada al prestador para ponerse en contacto contigo!
                </div>


                <!--Boton enviar-->
                <div align="center">
                    <button *ngIf="emptyFields" class="btn btn-danger btn-lg m-t-20"
                            style="border-radius: 5px 5px 5px 5px" (click)="openUpdateInfo()">
                        Actualiza Tus Datos
                    </button>
                    <button *ngIf="!emptyFields" class="btn btn-success btn-lg m-t-20"
                            style="border-radius: 5px 5px 5px 5px" (click)="sendMessageToProviderService()">
                        Contratar
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
