.containerDesignModal{
  width: 500px;
  height: 460px;
}

f-s-30{
  font-size: 20px;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.div-size{
  width: 450px;
  height: 70px;
}
